<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>player</title>
</head>
<body>
<div class="" id="app">
    <h1>{{ message }}</h1>
    <video controls autoplay src=""></video>

</div>

</body>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                message: 'Video player!'
            }
        }
    }).mount('#app')
</script>
</html>